::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    border: 3px solid black;
    /* background: #14F195; */
    background: #9945FF;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 50px !important;
}

.nav-show {
    animation: navShowAnimation 0.2s ease-in-out forwards;
}

.nav-hide {
    animation: navHideAnimation 0.2s ease-in-out forwards;
}

@keyframes navShowAnimation {
    0% {
        transform: translateY(-65px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes navHideAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-65px);
    }
}

.gradient-background {
    background: radial-gradient(circle, rgba(240, 135, 255, 0.3) 0%, black 80%);
}

.source-gradient {
    background: linear-gradient(rgba(25, 22, 28, 1), rgba(0, 0, 0, 1));
}